body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.profile_container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 
  rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.profile-pic {
  width: 140px;
  height: 160px;
  object-position: center;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px 
  rgba(0, 0, 0, 0.15);
}

header {
  background-color: #0073e6;
  color: white;
  padding: 3px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  
}

.flexbox {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.sidebar {
  font-size: 14px;
  width: 230px;
  height: 430px;
  padding-top: 180px;
  border-right-style: solid;
  border-width: 1px;
  border-right-color: rgb(228, 228, 228);
}

.sidebar-title {
  color: black;
}

a:hover {
  text-decoration-color: black !important;
  color: black !important;
}

.about_me_icon {
  height: 50px;
  width: 50px;
  object-fit: center;
}

.skills_icon {
  height: 50px;
  width: 50px;
  object-fit: center;
}

.contacts_icon {
  height: 50px;
  width: 50px;
  object-position: center;
}

.sidebar-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.column2 {
  padding-left: 20px;
}

.about, .skills, .contact {
  margin-left: 20px 0;
}

.linkedin:hover {
  text-decoration: underline;
  border-block: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.skill-name {
  font-size: 16px;
  font-weight: bold;
}

ul li {
  background-color: #0073e6;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 14px;
}

a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}



